.*.swp
.*.swo
*.pyc
*.class
*.jar
*.fasl
*.nfs*

# Hidden temp files.
.*.temp
.*.tmp

# Ignore corpus files that are decompressed.
datasets/Coconut_corpus/coconut-corpus
datasets/monroe_plan_corpus/MonroePlanCorpus-1.0
datasets/penn_discourse_treebank_v2.0/pdtb_v2
datasets/switchboard/data
datasets/discourse_graphbank/discourse_grph_bnk
datasets/monroe_spoken_dialogue/data
datasets/spaadia/data
datasets/ubuntu_dialogue_corpus/Ubuntu-dialogue-corpus
datasets/uiuc_qc/data
datasets/project_gutenberg/top100-*/

# Also ignore extracted/normalized corpus files that are decompressed.
datasets/discourse_graphbank/normalized_discourse_graphbank
datasets/switchboard/switchboard_ldc
datasets/switchboard/switchboard_ms
datasets/switchboard/sw_*_ldc
datasets/switchboard/sw_*_ms
datasets/monroe_spoken_dialogue/normalized_data
datasets/uiuc_qc/normalized_train
datasets/project_gutenberg/normalized_top100-*/

# Ignore decompressed filtered datasets.
filtered_datasets

# Working directory for getting ULFs from SQL.
get_ulf_temp/

